.tableimage{
    height:100px;
    width:100px;
}
.d-flex{
   justify-content:space-between;
   margin-top:10px;
}
table,tr,td{
    border:2px solid black;
}
.but{
    background-color: orangered;
    border: none;
    color:white;
}
.trow{
    border-bottom:1px solid black ;
    background-color: rgb(12, 12, 11);
    color:white;
}
.container{
    background-color: pink;
    min-height: 100px;
    width: 100px;
}
